
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

h1 {
  font-family: 'Roboto Condensed';
  font-weight: bold;
}

.g-signin2-custom > div {
  margin: auto;
}

.landing-container {
  background: rgba(0, 0, 0, 0.7);
  color: #EEE;
}

.landing-jumbotron {
  background-image: url('https://hd.unsplash.com/23/level-up.JPG');
  margin-bottom: 0px;
}
